  h1{
  font-size:50px;
  text-align: center;
  border-bottom: 4px solid gray;
  margin:0px;
  padding:20px;
  }
  body{
  background-color: #d2becf;
  margin: 0px
  }
  a{
    color: rgb(52, 73, 94);
    text-decoration: none;
    font-weight: bold;
  }
  .maincolor{
    color: rgba(34, 45, 137, 0.76)
  }
  .navigation{
    font-size: 21px;
    border-right: 2px solid gray;
  }
  .content{
    padding-left: 20px;
  }
  .frame {
    display: grid;
    grid-template-columns: 160px 1fr;
  }
